<!DOCTYPE html>
    
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <script src="Box2dWeb-2.1.a.3.js"></script>
    <script src="jquery-1.11.3.min.js"></script>
    <style> canvas { background-color: black;
                        position: absolute;
        }
    </style>
</head>
<body>
   <!-- <div id="cover" style="width: 500px; height: 500px; padding: 0; margin: 0; overflow: hidden; position: relative"> -->
    <canvas id="box2dCanvas" width="1000" height="1000" ></canvas>        
    </div>

    
    <script src="index.js"></script>
</body>
</html>